node-red/data/flows.json
[{"id":"70d90eed.9fc7e8","type":"tab","label":"Rhasspy Intent","disabled":false,"info":""},{"id":"255e4e5c.56ab22","type":"subflow","name":"Play TTS on Rhasspy","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"c5296479.a98bf8"}]}],"out":[{"x":600,"y":160,"wires":[{"id":"5d161512.72059c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"83de6e2.2ef361","type":"subflow","name":"Play WAV on Rhasspy","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"ddc7a6ff.554528"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"c23ef6ea.7dc82","port":0}]}],"env":[{"name":"audioFile","type":"str","value":""}],"color":"#DDAA99"},{"id":"be111083.116b5","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"a8d68d03.3725f","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/wake","tls":"","wholemsg":"true"},{"id":"d60f2a3e.ec485","type":"websocket in","z":"70d90eed.9fc7e8","name":"","server":"","client":"be111083.116b5","x":180,"y":200,"wires":[["d610852.afaa7f8","44810fa0.c3cb5"]]},{"id":"5f0bb9ff.f65fb","type":"change","z":"70d90eed.9fc7e8","name":"Set PlaySound Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"audioURI","pt":"msg","to":"info.currentAudioFile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":400,"wires":[["4ffe2057.220b5","7b577b5f.8f8a0c"]]},{"id":"d610852.afaa7f8","type":"switch","z":"70d90eed.9fc7e8","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GoodbyeMessage","vt":"str"},{"t":"eq","v":"Stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":440,"wires":[["9bea5500.83c178"],["3738d666.a363b2"]]},{"id":"3738d666.a363b2","type":"change","z":"70d90eed.9fc7e8","name":"Set PlaySound Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["c5e27cd4.5a5a8","7b577b5f.8f8a0c"]]},{"id":"d5f8f119.108b98","type":"function","z":"70d90eed.9fc7e8","name":"Iterator","func":"if (msg.payload == \"stop\") {\n    node.debug(\"Stopping...\");\n    return;\n}\nvar audioDb = flow.get(\"audioDb\");\nvar info = msg.info ? msg.info : {};\ninfo.counter = typeof(info.counter) == \"undefined\" ? 0 : info.counter + 1;\nif (info.counter >= audioDb.length) {\n    node.debug(\"Finished list!\");\n    return;\n}\ninfo.currentPerson = audioDb[info.counter];\ninfo.currentAudioFile = \"/data/messages/audio/\" + info.currentPerson.file.trim();\nmsg.info = info;\nmsg.payload = \"Message de la part de \" + audioDb[info.counter].name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["497b6b85.17b084"]]},{"id":"beef64cd.b4ae18","type":"file in","z":"70d90eed.9fc7e8","name":"","filename":"/data/messages/audioDb.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":360,"y":60,"wires":[["3d09f698.eee812"]]},{"id":"2d00a670.1d47f2","type":"inject","z":"70d90eed.9fc7e8","name":"On Boot","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":120,"y":60,"wires":[["beef64cd.b4ae18"]]},{"id":"db989f42.110cc8","type":"change","z":"70d90eed.9fc7e8","name":"","rules":[{"t":"set","p":"audioDb","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":60,"wires":[[]]},{"id":"3d09f698.eee812","type":"csv","z":"70d90eed.9fc7e8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"name,file","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":550,"y":60,"wires":[["db989f42.110cc8"]]},{"id":"c5e27cd4.5a5a8","type":"debug","z":"70d90eed.9fc7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":720,"wires":[]},{"id":"da1844f.25c03b8","type":"websocket in","z":"70d90eed.9fc7e8","name":"","server":"","client":"a8d68d03.3725f","x":200,"y":120,"wires":[["44810fa0.c3cb5","3738d666.a363b2"]]},{"id":"44810fa0.c3cb5","type":"debug","z":"70d90eed.9fc7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"5d161512.72059c","type":"http request","z":"255e4e5c.56ab22","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[[]]},{"id":"9bea5500.83c178","type":"subflow:255e4e5c.56ab22","z":"70d90eed.9fc7e8","name":"","env":[{"name":"text","value":"Voici tes Messages","type":"str"}],"x":320,"y":420,"wires":[["d5f8f119.108b98"]]},{"id":"497b6b85.17b084","type":"subflow:255e4e5c.56ab22","z":"70d90eed.9fc7e8","name":"","env":[],"x":780,"y":400,"wires":[["5f0bb9ff.f65fb"]]},{"id":"4ffe2057.220b5","type":"debug","z":"70d90eed.9fc7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":620,"wires":[]},{"id":"c5296479.a98bf8","type":"function","z":"255e4e5c.56ab22","name":"","func":"var text = env.get(\"text\");\nif (typeof(text) != \"undefined\" && text && text != \"\") {\n    msg.payload = text;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":160,"wires":[["5d161512.72059c"]]},{"id":"c23ef6ea.7dc82","type":"http request","z":"83de6e2.2ef361","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://rhasspy:12101/api/api/play-wav","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":100,"wires":[[]]},{"id":"ddc7a6ff.554528","type":"function","z":"83de6e2.2ef361","name":"Set Headers and Payload","func":"var audioFile = env.get(\"audioFile\");\nif (typeof(audioFile) != \"undefined\" && audioFile && audioFile != \"\") {\n    msg.payload = audioFile;\n}\nmsg.headers['Content-Type'] = 'audio/wav';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["53c315b4.8fbffc"]]},{"id":"53c315b4.8fbffc","type":"file in","z":"83de6e2.2ef361","name":"","filename":"Read audio file","format":"","chunk":false,"sendError":false,"encoding":"none","x":440,"y":100,"wires":[["c23ef6ea.7dc82"]]},{"id":"7b577b5f.8f8a0c","type":"PlaySound","z":"70d90eed.9fc7e8","name":"PlayOrStopSound","playerOptions":"{}","audioURI":"","options":"{}","x":1350,"y":520,"wires":[["d5f8f119.108b98"]]}]